extends layout.pug

block content
  nav.nav
    a(href='/')
      span &larr;
      |  Back
  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Tommy Stoll
        p Software Engineer
        .about-bio
          p I am a Software Engineer located in Overland Park, KS. I have a formal education in Data Analytics, and a passion for learning new skills and concepts. Although I am fresh in the development world, my unique backgroud makes me stand apart from my peers in the field. If you are in search of a new and innovative solution to your software and data needs, please contact me at the information on this page.
      .skills-contact-box.box
        h6 Skills
        ul
          li Javascript
          li Node.Js
          li Express
          li R
          li Python
          li SQL
          li AWS
          li Hive
          li Pig
          li Pug
          li HTML
        h6 Contact Info
        ul
          li 515-537-1234
          li tommy.stoll@fakemail.com
        a.btn-link(href='https://www.linkedin.com/', target="_blank") LinkedIn
        a.btn-link(href='https://github.com/tpo-tstoll', target="_blank") GitHub
        a.btn-link(href='https://www.twitter.com', target="_blank") Twitter
    nav.nav
      a(href='/')
        span &larr;
        |  Back