extends layout.pug

block content
  article.portfolio-intro
    h1 My Portfolio
    p This portfolio provides a snapshot of the work I have completed as a Full-Stack Software Developer. Below you will find various projects I have completed to showcase an array of different skills. This is only a small sample of my capabilities, should you have any specific questions, please contact me.
  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`./project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt='Thumbnail')
            h5 #{project.project_name}



